.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:
        linear-gradient(to top, var(--main-background-color-dark) 0px, rgb(0,0,0,0) 250px),
        var(--main-background-color-primary);

    p, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Nimbus Sans", sans-serif;
        font-weight: bold;
    }

    a {
        color: var(--link-color);
    }
}

.main_content {
    background: hsl(from var(--main-background-color-primary) h s calc(l - 2) / 0.5);
    width: var(--main-content-nom-width);
    max-width: var(--main-content-max-width);
    margin: 0 auto;
    flex-grow: 1;
}

.alt_font {
    font-family: "Liberation Sans", sans-serif;
}

.markdown_base {
    p, hr {
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h1, h2 {
        margin-bottom: 0.5rem;
    }
}

.ctr_common {
    background-color: var(--ctr-background-color);
    border: solid 0.2rem var(--common-border-color);
}
