.sec_profile {
    background-color: var(--ctr-background-color);
    margin: 0 0 0 0;

    .profile_ctr {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .portrait {
            margin: 0 auto 2rem auto;
            position: relative;
            max-width: 18rem;
            width: 50%;
            aspect-ratio: 1;
            min-width: 3rem;
            overflow: hidden;
            border: 0.15rem solid var(--common-border-color);
        }

        .portrait_below {
            margin: 0 auto 0 auto;

            h1 {
                font-size: 2rem;
                letter-spacing: 0.05rem;
            }
            p {
                width: 100%;
                font-size: 1.25rem;
            }
        }
    }
}

.sec_bio {
    margin: 5rem 0 0 0;

    .left_ss {
        margin-left: 2rem;
        padding: 0 2% 0 2%;
        min-width: 14rem;
    }

    .right_ss {
        margin-right: 2rem;
        padding: 0 2% 0 2%;

        .right_lotusimg_ctr {
            position: relative;
            width: 100%;
            height: auto;
            min-width: 100px;
            max-width: 450px;

            margin: 0 auto 0 auto;
            background: rgb(60, 60, 60);
            border: 0.15rem solid var(--common-border-color);
        }
    }
}
