.sec_profile {
    background-color: var(--ctr-background-color);
    margin: 0 0 0 0;

    .profile_ctr {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .portrait {
            margin: 0 auto 2rem auto;
            position: relative;
            max-width: 18rem;
            width: 50%;
            aspect-ratio: 1;
            min-width: 3rem;
            overflow: hidden;
            border: 0.15rem solid var(--common-border-color);
        }

        .portrait_below {
            margin: 0 auto 0 auto;

            h1 {
                font-size: 2rem;
                letter-spacing: 0.05rem;
            }
            p {
                width: 100%;
                font-size: 1.25rem;
            }
        }
    }
}

.sec_bio {
    margin: 5rem 0 0 0;
    padding: 0 4% 0 4%;
}

.img_ctr_fl {
    float: left;
    margin-right: 2%;
}

.img_ctr_fr {
    float: right;
    margin-left: 2%;
}

.img_ctr {
    margin-bottom: 1rem;
    position: relative;
    height: auto;

    background: hsl(0deg 0% 23%);
    border: 0.15rem solid var(--common-border-color);
}
